extends ../layouts/main-layout.pug
block style
    link(rel="stylesheet", href="/css/product.css")
    link(rel="stylesheet", href="/css/forms.css")
    link(rel="stylesheet", href="css/main.css")
block content
    //- form to add product and to edit product
    main
        if errorMessage.length>0 
            div(class="user-message user-message--error") #{errorMessage}
        form.product-form(action="/new-password",method="POST")
            .form-control
                label(for="password") update Password
                input(type="password",name="password",id="password")
            input(type="hidden" name="userid" value=UserId)
            input(type="hidden" name="token" value=token)
            input(type="hidden" name="_csrf" value=csrfToken)
            button(type="submit") update password

